@model Appr_Munei.Models.DistributeGoodstoDisaster


<h4>Distribute Goods to Disaster</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("distributeProducts", "DistributeGoodstoDisaster", FormMethod.Post))
        {
            <form asp-action="distributeProducts">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Disaster Tag</label>
                    @Html.DropDownListFor(t => t.prodId, Model.DisasterTag, "Select", new { @class = "form-control" })
                    <span asp-validation-for="prodId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <input asp-for="Category" class="form-control" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumberOfProds" class="control-label"></label>
                    <input asp-for="NumberOfProds" class="form-control" />
                    <span asp-validation-for="NumberOfProds" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
                        window.onload = function () {
                            alert("@ViewBag.Message")
                        }
    </script>
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
