@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2> Our Inspiration</h2>
<p>
    Our Inspiration
    “My son, you will form an organisation. The name will be Waqful Waqifin, and that name is translated into ‘Gift of the Givers’. You will serve all people of all races, of all religions, of all colours, of all classes, of all political affiliations and of any geographical location. You will serve them unconditionally.”<br>
    – Sufi Sheikh Muhammed Saffer Effendi al Jerrahi
    … After receiving this message from his spiritual leader in Istanbul, Turkey, at the age of just 30, Gift of the Givers founder, Dr Imtiaz Sooliman, immediately heeded the calling… and continues to do so to this day.
    Following that life-changing day in 1992, Dr Sooliman returned to South Africa, left a flourishing career as a medical doctor and established the Gift of the Givers Foundation.
    In the intervening years, he has travelled to some of the most desolate, war-torn and disaster-struck areas of the world, heading relief missions. Through his work with Gift of the Givers, he and his teams have responded to the needs of countless people affected by a wide range of natural and man-made disasters, such as floods, famine, tsunamis, earthquakes and wars.
    He has facilitated the establishment of hospitals, run clinics, created agricultural schemes, dug wells, built houses, developed and manufactured an energy food, renovated fishing boats, offered scholarships and provided food and shelter to millions.
    The transition from doctor to humanitarian was both seamless and simple.
    He is driven by the same basic principles that led to his becoming a medical doctor: respect, care, professionalism and dedication. But there is something else that fuels Dr Sooliman’s passion for humanitarianism – the solid belief in the common humanity that unites us. His fervour for, and belief in, mankind is what really motivates and energises him, and the reason is his faith.
    His sense of community is felt throughout his endeavours with Gift of the Givers.
    When disaster strikes or pleas for assistance are sounded – whether in South Africa or abroad – he and Gift of the Givers are ready with an immediate response, swiftly rallying the organisation’s network of doctors, nurses, relief workers and other professionals, and despatching humanitarian and medical supplies to disaster areas.
</p>

<h3>What We do</h3>
<p2>

    Fast and Active Disaster Response:
    Our responses to disasters vary considerably, dependent on prevailing conditions in identified disaster or war zones.
    We have the immediate capacity to deliver all the appropriate materials, inclusive of :

    -Temporary shelter;<br>
    Bedding and blankets;<br>
    Basic foodstuffs, inclusive of baby provisions;<br>
    Sibusiso Ready Food Supplement (a high-energy and protein supplement, innovated by Gift of the Givers – and the first of its kind in the world);<br>
    A wide range of medical supplies, medical equipment and ambulances;<br>
    Generators for emergency power supply.<br>
    In addition, we are able to immediately call on professional search and rescue teams and medical specialists, whilst facilitating the evacuation of affected people.
</p2>
                </div>
