@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2>
        DESIGNED FOR DISASTERS..
        “TOGETHER, WE ACT FAST TO SAVE LIVES AND RESTORE DIGNITY TO THOSE THAT NEED IT MOST”
        <br>
        Natural disasters and man-made conflicts are a real and present danger the world-over, very often affecting and displacing hundreds of thousands of people in their wake.
        We are geared to quickly assess emergent disasters and are capable of then using our financial muscle, know-how, access to resources and – when necessary – to draw on additional collaborative expertise to effectively and efficiently respond to both the immediate and longer-term needs of communities impacted by such events.
        We have the wherewithal to negotiate with host country Governments and to link with local organisations on the ground, which boast sound knowledge of the prevailing conditions.
    </h2>


    <h3>Overview</h3>
    <p>
        The Gift of the Givers Foundation is the largest disaster response, non-governmental organisation of African origin on the African continent.
        It works to unite people, with a common vision, to make a real and telling difference by serving mankind for the ‘Greater Good’ .
        Assistance is provided unconditionally; assisting the needy, irrespective of human or animal, race, religion, colour, class, political affiliation or geographic location.
        Since its inception in 1992, the organisation has been responsible for the delivery of life-saving goods and on-the-ground support for innumerable people, collectively valued at some R4.5 billion, in more than 45 countries across the globe, including South Africa.
        Gift of the Givers restores the hope and dignity of the most vulnerable in their time of need, rebuilding prosperous communities and empowering leaders of tomorrow.
        <br>
        SERVING
        HUMANITY
        The Gift of the Givers Foundation is the largest disaster response non-governmental organisation of African origin on the African continent. The essence of our presence is to bring hope and restore dignity to the most vulnerable
        R4.5
        BILLION
        IN AID
        45
        COUNTRIES
        30
        YEARS
    </p>
</div>

</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
                        window.onload = function () {
                            alert("@ViewBag.Message")
                        }
    </script>
}